<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .body
      {
        background-image: url("https://cdn.vectorstock.com/i/1000x1000/92/92/fruit-and-berry-background-abstract-food-seamless-vector-28369292.webp");
        background-repeat: no-repeat;
        background-size: cover;
      }
      .cls
      {
        display: flex;
        place-content: center;
        place-items: center ;
        background-color: white;
        width: fit-content;
      }
    </style>
</head>
<body class="body">
   <center><h1>Diet chart</h1></center>
   
    <h2>create your Diet Plan<h2>
    <form action="" method='post' class="cls">
     <div class="my-10 mx-10" >   
      {% csrf_token %}
        Enter your name:<input type="text" name='name' id='name'><br>
        Enter your age:<input type="text" name='age' id='age'><br>
        Enter your weight:<input type="text" name='weight' id='weight'><br>
        Enter your Height:<input type="text" name='height' id='height'><br>
        whats your Gender:<input type="radio" name='gender' id='male'>Male
        <input type="radio" name='gender' id='female'>Female<br>
        I want to?
        <select id="LossGain" name="LossGain">
            <option value="Lose Weight">Lose Weight</option>
            <option value="Maintain Weight">Maintain Weight</option>
            <option value="Gain weight">Gain Weight</option>
          </select><br>
        Your goal weight:<input type="text" name='goal' id='goal'><br>
        How active are you?
        <select id="active" name="active">
            <option value="Lose Weight">Not Very Active(Little or No Exercise)</option>
            <option value="Maintain Weight">Lightly active(Light Exercise/sports 1-3 days/week)</option>
            <option value="Gain weight">Active(Moderate Exercise/sports 3-5 days/week)</option>
            <option value="Gain weight">Very Active(Hard Exercise/sports 6-7 days a week)</option>
          </select><br><br>
       
       <button type="submit" class="btn btn-success" >Check your Nutrition goal</button>
      </div>
        </form>
        {%if count%}
        <h3>Daily Nutrition goals</h3>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Protien</th>
                <th scope="col">Carb</th>
                <th scope="col">Fat</th>
              </tr>
            </thead>
            <tbody>
                {%for x in data%}
              <tr>
                <td>{{x.protien}}</td>
                <td>{{x.carbs}}</td>
                <td>{{x.fat}}</td>
             
              </tr>
              {%endfor%}
            </tbody>
          </table>
          {%if a%}
          <form method="post" action="diets">{% csrf_token %}
            <button type="submit">Get Your Diet for {{lmg1}}</button>
         {%else %}
         <form method="post" action="diets1">{% csrf_token %}
            <button type="submit">Get Your Diet for {{lmg1}}</button>
            {%endif%}
        {%endif%}
         
        
     
       
</body>
</html>